
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
}


header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 40px;   /* espace بين header و form */
    margin-bottom: 40px;
}


form {
    background-color: #fff;
    padding: 25px;
    width: 85%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


h2, h4, h5 {
    margin-bottom: 10px;
    color: #2c3e50;
}


.group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
}


.field {
    display: flex;
    flex-direction: column;
    flex: 1;
}


input, select {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    max-width: 220px;   
}


button {
    margin-top: 25px;
    padding: 10px 30px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {
    .group {
        flex-direction: column;
    }

    input, select {
        max-width: 100%;
    }
}